.venv/
__pycache__/
*.pyc
simulation/outputs/
simulation/network/grid3x3_raw.net.xml
simulation/demand/*.trips.xml
detection/models/
detection/outputs/
simulation/rl/models/
simulation/rl/tensorboard/
dashboard/frontend/node_modules/
dashboard/frontend/dist/
dashboard/backend/__pycache__/
